.cardDiv{
    display: flex;
}
.card{
    text-align: center;
    border: none;
}
.card-inner{
    height:"200px";
    width:"200px";
    border-Radius:"50%";
    margin:10px 30px;
}
.card-img{
    height:"200px";
    width:"200px";
    border-Radius:50%
}