.timeline{
    font-size: 25px;
}
.timeline p{
    font-weight: 400;
    font-size: 20px;
}
.tl-cards .card{
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    border-radius: 42px 42px 0px 0px;
}
.tl-cards .card-header{
    border-radius: 42px 42px 0px 0px;
}
.tl-cards .btn{
    border-radius: 24px;
}