.form-group input, .form-group textarea{
    border-radius: 32px;
    width: 300px;
}
.form-group textarea {
    padding: 10px;
}
@media screen and (max-width: 350px) {
    .form-group input, .form-group textarea{
        width: 200px;
    }
}
body {
  font-family: 'Roboto Condensed', sans-serif;
}
