.footer-main {
  background-color: #f5f5f5;
}

.fa-facebook:hover {
  color: blue;
}

.fa-twitter:hover {
  color: blue;
}

.fa-linkedin:hover {
  color: blue;
}

.fa-instagram:hover {
  color: #f77737;
}

.social-media h4:hover{
  color: blue;
  cursor: pointer;
  
}.

.footer__media > svg:hover {
  cursor: pointer;
}

.footer__topBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
}

.footer__topBtn > svg {
    transition: all 0.2s ease-in-out;
}

.footer__topBtn > svg:hover {
    margin-bottom: 10px;
}

.copyrightfont{
  font-family:google-sans,Helvetica,Arial,Sans-Serif
}