body {
    --heading-color: #000000;
    --background-color: #ffffff;
    --text-color: #000000;
    --invert-filter: invert(0%);
    
    background-color: var(--background-color);
    color: var(--text-color);
}