* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.timeline{
	font-size: 25px;
}
.timeline p{
	font-weight: 400;
	font-size: 20px;
}

.timeline-container {
	max-width: 90% ;
	margin: 0 auto;
}

.tab-list-item {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0 2px 0 2px;
}

.event-day-title {
	color: white;
	font-size: large;
	margin: -9px 0 -8px 0px;
}

.event-rows {
	border-right: 2px solid;
	border-left: 2px solid;
	border-bottom: 2px solid;
	
}

.tab-panel {
	margin: 0px 0 0 0px;
}

.time {
	font-size: 18px;
}


span {
	font-size: 22px;
}

.chip {
	border: 0.1px solid lightgrey;
	background-color: var(--background-color);
  font-size: 14px;
	border-radius: 15px;
	margin: 0 2px 0 2px;
	padding: 0 10px 0 10px;
}

.buttonImg {
	height: 24px;
	margin: 0 10px 0 0;
}

.buttonText {
	font-size: 14px;
	margin: 0 4px 0 0;
}
